@import './mixins.scss';
@import './colors.scss';

.__cart-page{
    & .__section-cart{
        padding: 5rem 0;
        & .__text-holder{
            margin: 5rem 0;
            & h1{
                margin-bottom: 2rem;
                font-weight: bold;
            }
        }
    }
    & .__section-summary{
        & .__products{
            position: relative;
            .isempty{
                margin: 0;
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @include boxShadow;
            @media screen and (max-width:992px) {
                margin-bottom: 1.5rem;
            }
            height: 600px;
            overflow-y: scroll;
        }
        & .container{
            .close-button-up{
                display: none;
            }
            .text-responsive{
                display: none;
            }
            @media screen and (max-width:768px) {
                .text-responsive{
                    display: block;
                }
                .close-button-up{
                    display: flex;
                    justify-content: flex-end;
                }
                .close-button-bottom{
                    display: none;
                }
            }
            padding: 5rem 0;
            & .__product{
                border-bottom: 1px solid lightgray;
                justify-content: space-between;
                padding: 1rem 0;
                & .__left{
                    display: flex;
                    & .__description{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding: 0 0 0 1rem;
                        & h5, p{
                            margin: unset;
                        }
                    }
                    & img{
                        width: 150px;
                    }
                }
                & .responsive-left{
                    height: 100%;
                    justify-content: space-around;
                    display: none;
                }
                & .responsive-right{
                    display: none;
                    & > h4{
                        margin: 1rem 0 !important;
                    }
                }

                & .__right{
                    @media screen and (max-width:768px) {
                        .desktop{
                            display: none !important;
                        }
                        & .responsive-right{
                            display: block;
                        }
                        & .responsive-left{
                            display: block;
                        }
                        & .__counter{
                            justify-content: flex-end !important;
                        }
                        & .responsive-right{
                            text-align: end;
                        }
                        & .responsive-left{
                            display: flex;
                            flex-direction: column;
                        }
                        
                    }
                    display: flex;
                    justify-content: space-between;
                    & h4{
                        justify-content: space-between;
                        margin: unset;
                    }
                    display: flex;
                    align-items: center;
                    & .__counter{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        & .__number{
                            margin: 0 1rem;
                            padding: 0.2rem 2rem;
                            border: 1px solid black;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    & .__order-summary{
        & .row{
            height: 100%;
            justify-content: space-between;
        }
        @include boxShadow;
        & .container{
            padding: 1rem;
        }
        & .__header{
            background-color: $light-gray;
        }
        & .col-12{
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgray; 
            & p{
                margin: 0;
            }
            & h5{
                display: inline-block;
                margin: 0;
            }
            & .container{
                display: flex;
                justify-content: space-between;
            }
            
        }
    }
}