@import "./mixins.scss";
@import "./colors";
.__homepage{
    & .__carousel{
        & .col-md-6{
            width: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        & .col-12 {
            width: max-content;
        }
        & img{
            height: 500px;
        }
        @media screen and (max-width:768px) {
            & img{
                height: 300px;
            }
            
        }
        & .__btn{
            border: 2px solid $beige;  
            color: $beige;   
            font-weight: bold;
            text-align: center;
            width: max-content;
            padding: 0.5rem;
            @include transition
        }
        & .__btn:hover{
            border: 2px solid $beige;  
            color: black;   
            background-color: $beige;
            font-weight: bold;
            text-align: center;
        }
    } 



    & .__popular-this-week{

        & .col-md-7{
            justify-content: center;
            & img{
                margin-left: 1rem;
            }
        }

        & .col-12{
            position: relative;
            @include transition;
            & img{
                width: 100%;
            }
            & .__description--float{
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: 0.5rem;
            }
            @include transition;
        }

        & .col-12:hover{
            transform: scale(1.05);
        }
        
    }



    // & .__popular-this-week{
    //     & .col-md-5{
    //         @include transition;

    //         & img{
    //             height: 400px;
    //         }
    //         margin-bottom: 4rem;
    //     }
    //     & .col-md-5:hover{
    //         transform: scale(1.1);
    //     }
    //     & .col-md-7{
    //         display: flex;
    //         justify-content: flex-end;
    //         position: relative;
    //         @include transition;
    //         margin-bottom: 4rem;
    //         &  img{
    //             height: 550px;
    //         }
    //     }
    //     & .col-md-7:hover{
    //         transform: scale(1.1);
    //         position: relative;
    //         @include transition;
    //     }
    //     & .__description{
    //         width: 200px;
    //     }
    //     & .__description--float{
    //         width: 200px;
    //         position: absolute;
    //         left: 5% !important;
    //         top:50%;
    //         transform: translateY(-50%);
    //     }
    //     & .col-md-7.--right{
    //         & img{
    //             margin-left: 3rem;
    //         }
    //         .__description--float{
    //             left: 0%;
    //         }
    //     }  
    //     @media screen and (max-width:768px) {
    //         & .col-md-7.--right{
    //             & img{
    //                 margin: 0;
    //             }
    //         }
    //     }
    //     @media screen and (max-width:1200px) {
    //         & .col-md-7{
    //             display: flex;
    //             justify-content: center;
    //             flex-direction: column;
    //             &  img{
    //                 height: 300px;
    //             }
    //         }
    //         & .col-md-5{
    //             & img{
    //                 height: 300px;
    //             }
    //         }
    //     }
    // }
}







.__deal-of-week{
    background-color: $light-blue;
    padding: 5rem 0;
    & .container{
        & .col-sm-6{
            height: max-content;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        & .__title{
            width: 100%;
            & h5{
                color: red;
                margin-bottom: 1rem;
            }
            & h1{
                margin-bottom: 1rem;
            }
        }
        & .__discount{
            margin: 1rem 0;
            padding: 1rem;
            width: max-content;
            background-color: red;
            border-radius: 8px;
            color: white;
            font-weight: bold;
        }
        & .__timer{
            align-self: center;
            width: 100%;
            background-color: white;
            padding: 2rem;
            text-align: center;
        }
        & .__shop-button{
            margin: 1rem 0;
            border: 1px solid black;
            width: max-content;
            padding: 0.5rem;
        }
        & img{
            height: 600px;
        }
        @media screen and (max-width:768px){
            & img{
                height: unset;
                width: 240px;
            }
        }

    }
}
.__new-arrivals{
    & .container{
        padding: 5rem 0;
        & .__title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & h2{
                width: 100%;
            }
            & .row{
                width: 100%;
                & .col-xl-3:hover .__bottom{
                    visibility: visible;
                    opacity: 1;
                }
                & .col-xl-3 {
                    
                    & .__bottom{
                        padding: 0 1rem;
                        & li{
                            margin: 0 0.5rem;
                        }
                        align-items: center;
                        justify-content: space-between;
                        display: flex;
                        bottom: 0;
                        position: absolute;
                        @include transition;
                        width: 100%;
                        background-color: white;
                        height: 40px;
                        visibility: hidden;
                        opacity: 0;
                    }
                    & .__img-container{
                        position: relative;
                        width: 100%;
                        & img{
                            width: 100%;
                            display: flex;
                        }
                    }
                    
                }
                
            }
        }
    }
}

.__summer-sales{
    padding: 5rem 0;
    & .container{
        position: relative;
        background-color: $light-beige;
        text-align: center;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        & h1{
            z-index: 2;
            font-size: 5rem;
            font-weight: bold;
        }
        & p{
            z-index: 2;
            font-size: 2rem;
        }
        & .__shopping-btn{
            border: 1px solid black;
            width: max-content;
            align-self: center;
            padding: 1rem;
        }
        & img{
            right: 0;
            bottom: 10%;
            position: absolute;
            height: 430px;
        }
        @media screen and (max-width:768px) {
            & img{
                display: none;
            }
        }
    }
}
