@import "./mixins.scss";
@import "./colors";
.__homepage{
    & .__carousel{
        & .col-md-6{
            width: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        & .col-12 {
            width: max-content;
        }
        & img{
            height: 500px;
        }
        @media screen and (max-width:768px) {
            & img{
                height: 300px;
            }
            
        }
        & .__btn{
            border: 2px solid $beige;  
            color: $beige;   
            font-weight: bold;
            text-align: center;
            width: max-content;
            padding: 0.5rem;
            @include transition
        }
        & .__btn:hover{
            border: 2px solid $beige;  
            color: black;   
            background-color: $beige;
            font-weight: bold;
            text-align: center;
        }
    } 
    & .__popular-this-week{
        & .col-md-5{
            @include transition;

            & img{
                height: 400px;
            }
            margin-bottom: 4rem;
        }
        & .col-md-5:hover{
            transform: scale(1.1);
        }
        & .col-md-7{
            display: flex;
            justify-content: flex-end;
            position: relative;
            @include transition;
            margin-bottom: 4rem;
            &  img{
                height: 550px;
            }
        }
        & .col-md-7:hover{
            transform: scale(1.1);
            position: relative;
            @include transition;
        }
        & .__description{
            width: 200px;
        }
        & .__description--float{
            width: 200px;
            position: absolute;
            left: 5% !important;
            top:50%;
            transform: translateY(-50%);
        }
        & .col-md-7.--right{
            & img{
                margin-left: 3rem;
            }
            .__description--float{
                left: 0%;
            }
        }  
        @media screen and (max-width:768px) {
            & .col-md-7.--right{
                & img{
                    margin: 0;
                }
            }
        }
        @media screen and (max-width:1200px) {
            & .col-md-7{
                &  img{
                    height: 300px;
                }
            }
            & .col-md-5{
                & img{
                    height: 300px;
                }
            }
        }
    }
}
.__deal-of-week{
    background-color: $light-blue;
    padding: 5rem 0;
    & .container{
        & .col-sm-6{
            height: max-content;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        & .__title{
            width: 100%;
            & h5{
                color: red;
            }
        }
        & .__discount{
            padding: 1rem;
            width: max-content;
            background-color: red;
            border-radius: 8px;
            color: white;
            font-weight: bold;
        }
        & .__timer{
            align-self: center;
            width: 100%;
            background-color: white;
            padding: 2rem;
            text-align: center;
        }
        & .__shop-button{
            border: 1px solid black;
            width: max-content;
            padding: 0.5rem;
        }
        & img{
            height: 600px;
        }
        @media screen and (max-width:768px){
            & img{
                height: unset;
                width: 240px;
            }
        }

    }
}
.__new-arrivals{
    & .container{
        padding: 5rem 0;
        & .row{
            justify-self: center;
            width: 100%;
             .col-xl-3, .col-md-4{
                & img{
                    width: 100%;
                    display: flex;
                }
            }
            
        }
    }
}

.__summer-sales{
    padding: 5rem 0;
    & .container{
        position: relative;
        background-color: $light-beige;
        text-align: center;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        & h1{
            z-index: 2;
            font-size: 5rem;
            font-weight: bold;
        }
        & p{
            z-index: 2;
            font-size: 2rem;
        }
        & .__shopping-btn{
            border: 1px solid black;
            width: max-content;
            align-self: center;
            padding: 1rem;
        }
        & img{
            right: 0;
            bottom: 10%;
            position: absolute;
            height: 430px;
        }
        @media screen and (max-width:768px) {
            & img{
                display: none;
            }
        }
    }
}
