@import './colors.scss';
@import './mixins.scss';

.customModal{
    width: 100%;
    @media screen and (max-width:840px) {
        width: 500px;
    }
    @media screen and (max-width:550px) {
        width: 300px;
        & .container{
            padding: 1rem !important;
        }
    }
    @media screen and (max-width:350px) {
        width: 250px;
    }
    & .container{
        padding: 2rem;
        & .__upper{
            & .container{
                padding: 1rem;
                & h2{
                    margin: unset;
                    display: inline-block;
                }
                & h2:first-child{
                    margin-right: 2rem;
                }
            }
            border-bottom: 1px solid lightgray; 
        }
    }
    & .__middle{
        & .container{
            padding: 1rem;
            & .__input{
                padding-bottom: 1rem;
                & h4{
                    margin: unset;
                    margin: 1rem 0;
                }
                & input{
                    width: 100%;
                    height: 45px;
                }
                & .__password{
                    display: flex;
                    justify-content: space-between;
                    align-items:center;
                    & h4{
                        display: inline-block;
                    }
                    & span{
                        @media screen and (max-width:550px) {
                            text-align: end;
                        }
                        color: $beige;
                    }
                }
            }
            & .__remember{
                display: flex;
                align-items: center;
                & input{
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    margin-right: 0.5rem;
                }
            }
            & .__login{
                & .__btn:hover{
                    background-color: black;
                    @include transition;
                }
                & .__btn:hover i{
                    @include transition;
                    color: white;
                }
                & .__btn:hover p{
                    @include transition;
                    color: white;
                }
                & .__btn{
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid black;
                    width: 100%;
                    height: 45px;
                    background-color: white;
                    & p{
                        font-weight: bold;
                        margin: unset;
                    }
                    & i{
                        margin-right: 1rem;
                    }
                }
            }
            
        } 
        
    }
    & .__bottom{
        & h5 {
            width: 100%; 
            text-align: center; 
            border-bottom: 1px solid lightgray; 
            line-height: 0.1em;
            margin: 10px 0 20px; 
        } 
         
        & h5 span { 
          background:#fff; 
          padding:0 10px; 
          color: lightgray;
          font-size: small;
         }
        & .__social-media{
            display: flex;
            justify-content: center;
            & .__box{
                @include transition;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $beige;
                width: 40px;
                height: 40px;
                border: 2px solid $beige;
            }
            & .__box:first-child{
                margin-right: 0.5rem;
            }
            & .__box:hover{
                background-color: $dark-beige;
            }
            & .__box:hover i{
                color: black;
            }
        }

    }
}