@import './colors.scss';
@import './mixins.scss';

.__preview{
    display: flex;
    @media screen and (max-width:550px) {
        flex-direction: column;
        & img{
            width: 100% !important;
            margin-top: 1rem;
        }
        & .__buttons{
            flex-direction: column;
            width: 100% !important;
            height: 100px;
            & .__btn{
                width: 100% !important;
                text-align: center;
            }
        }
        & .__description{
            padding-left: unset !important;
        }
    }
    & img{
        height: 200px;
        object-fit: cover;
    }
    & .__description{
        position: relative;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        & h4{
            margin: 1rem 0;
        }
        & h1{
            display: inline-block;
        }
        & h3{
            display: inline-block;
        }
        & p{
            display: inline-block;
        }
        & select{
            height: 45px;
            width: 50%;
        }
    }
    .__buttons{
        width: 50%;
        display: flex;
        justify-content: space-between;
        .__btn{
            display: inline-block;
            border: 1px solid $beige;
            padding: 0.5rem 1rem;
            width: max-content;
            @include transition;
            & h5{
                color: $beige;
                display: inline-block;
                margin: unset;
            }
        }
        // .__btn:hover{
        //     border: 1px solid black;
        //     & h5{
        //         color: black;
        //     }
        //     background-color: $beige;
        // }
    }
}