@import "./_header.scss";
@import "./homepage.scss";
@import './footer.scss';
@import "./blogpage.scss";
@import './about.scss';
@import './contactpage.scss';

*{
    ul{
        display: flex;
        margin:0 !important;
        padding: 0 !important;
        list-style: none;
    }
    
}