@import "./_header.scss";
@import "./homepage.scss";
@import './footer.scss';
@import "./blogpage.scss";
@import './about.scss';
@import './contactpage.scss';
@import './cart.scss';
@import './cartpage.scss';
@import './wishlistpage.scss';
@import './loginmodal.scss';
@import './previewmodal.scss';

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: dimgray; 
  }

*{
    ul{
        display: flex;
        margin:0 !important;
        padding: 0 !important;
        list-style: none;
    }
    i:hover{
      cursor: pointer;
    }
    
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  animation-fill-mode: forwards; 
  transform: scale(0.9, 0.7) translateY(-20px);
  transition: all 80ms ease;
  
}
.show {
  transform: scale(1, 1) translateY(0);  
  opacity: 1;
  visibility: visible;
}

.rec-arrow{
  display: none;
}

